---
import Heading from "../components/Heading.astro";

const { type, caption, title, description } = Astro.props;
---

<section class={`banner ${type}-banner`}>
  <div class="container">
    <Heading
      caption={ caption }
      title={ title }
      size="page"
    />
    <p>{ description }</p>
  </div>
</section>

<style>
  .banner {
    padding: var(--spacing-lg) 0;
  }

  .banner .container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
  }

  .topic-banner {
    background-color: var(--color-tint-ocean-blue);    
  }

  .page-banner {
    background-color: var(--color-greyscale-grey-5);
  }
</style>