---
import searchIcon from "../assets/icons/search.svg?raw";
import closeIcon from "../assets/icons/close.svg?raw";

const { controls, id} = Astro.props;
---

<button
  type="button"
  aria-expanded="false"
  aria-controls={controls}
  id={id}
  class="header-menu-button"
>
  <span class="search-icon"><Fragment set:html={searchIcon} /></span>
  <span class="close-icon"><Fragment set:html={closeIcon} /></span>
</button>

<style>
  .header-menu-button {
    background: none;
    border: none;
    color: var(--color-primary-ocean-blue);
    font-weight: 700;
    cursor: pointer;
    height: 72px;
    padding: 0 var(--spacing-sm);
  }

  .header-menu-button:hover {
    box-shadow: inset 0 -4px 0 0 var(--color-primary-night-blue);
  }

  .header-menu-button[aria-expanded="true"] {
    background-color: var(--color-tint-ocean-blue);
  }

  .header-menu-button[aria-expanded="true"] .close-icon {
    display: inline;
  }

  .header-menu-button[aria-expanded="true"] .search-icon {
    display: none;
  }

  .close-icon {
    display: none;
  }

  .close-icon :global(svg path), .search-icon :global(svg path) {
    fill: var(--color-primary-ocean-blue);
  }
</style>