---
const { headings = [] } = Astro.props;
---

<nav class="table-of-contents">
  <h2>Contents</h2>

  <ul>
    { headings.map((h) => (
      <li><a href={`#${h.slug}`}>{ h.text }</a></li>
    ))}
  </ul>

</nav>

<style>
  .table-of-contents {
    position: sticky;
    top: var(--spacing-md);
  }
</style>