---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageBanner from "../components/PageBanner.astro";
import TableOfContents from "../components/TableOfContents.astro";
import EditionSelector from "../components/EditionSelector.astro";
import ContactDetails from "../components/ContactDetails.astro";
import DocumentList from "../components/DocumentList.astro";
import FileDownload from "../components/FileDownload.astro";
import { rootCertificates } from "node:tls";

const {
  datasetTitle,
  description,
  editionTitle,
  metadata,
  dataFiles,
  importantNotesAndUsageInformation,
  relatedContent,
  versionHistory,
  contactDetails,
} = Astro.props;

const toc = [];

toc.push({
  text: "Edition information",
  slug: "edition-information",
});

if (dataFiles?.length) {
  toc.push({
    text: "Get the data",
    slug: "get-the-data",
  });
}

toc.push({
  text: "Quality and usage information",
  slug: "quality-and-usage-information",
});

if (importantNotesAndUsageInformation) {
  toc.push({
    text: "Important notes and usage information",
    slug: "important-notes-and-usage-information",
  });
}

if (relatedContent?.length) {
  toc.push({
    text: "Related content",
    slug: "related-content",
  });
}

if (versionHistory?.length) {
  toc.push({
    text: "Version history",
    slug: "version-history",
  });
}

if (contactDetails) {
  toc.push({
    text: "Contact details",
    slug: "contact-details",
  });
}
---

<BaseLayout>
  <PageBanner
    type="page"
    caption="Dataset"
    title={ datasetTitle }
    description={ description }
  >
  </PageBanner>

  <main>
    <div class="container">

      <!-- <EditionSelector></EditionSelector> -->

      <div class="layout">

        <aside class="table-of-contents">
          <TableOfContents sections={ toc } />
        </aside>

        <div class="page-content">
          
          <section class="edition-metadata" id="edition-information">
            <h2 class="section-title">{ editionTitle } edition</h2>

            <dl class="metadata-list">
              <dt>Release date</dt>
              <dd>{ metadata.releaseDate }</dd>

              <dt>Next release</dt>
              <dd>{ metadata.nextRelease }</dd>

              <dt>Contact</dt>
              <dd>{ metadata.contact }</dd>

              <dt>Version</dt>
              <dd>{ metadata.version }</dd>

              <dt>Accreditation status</dt>
              <dd>{ metadata.accreditationStatus }</dd>
            </dl>
          </section>

          <section class="get-the-data" id="get-the-data">
            <h2 class="section-title">Get the data</h2>
            <p>Download the data, released on { metadata.releaseDate }, in the following formats:</p>

            { dataFiles.map((file) => (
              <FileDownload
                filename={ file.fileName }
                filetype={ file.fileType }
                filedescription={ file.fileDescription }
                filesize={ file.fileSize }
                fileUrl={ file.fileUrl }
              />
            ))}
          </section>

          <section class="quality-and-usage-information" id="quality-and-usage-information">
            <h2 class="section-title">Quality and usage information</h2>

            <p>Includes:</p>
            <ul>
              <li>Where the data comes from (source)</li>
              <li>There accuracy and reliability of the data</li>
              <li>The relevance of the data to certain application or uses</li>
            </ul>
            <p>Read the full <a href="#">Quality and methodology information (QMI)</a> for this dataset.</p>
          </section>

          { importantNotesAndUsageInformation && (
            <section class="important-notes-and-usage-information" id="important-notes-and-usage-information">
              <h2 class="section-title">Important notes and usage information</h2>

              <p>{ importantNotesAndUsageInformation }</p>
            </section>
          )}

          { relatedContent && (
            <section class="related-content" id="related-content">
              <h2 class="section-title">Related content</h2>

              <div class="related-content-list">

                { relatedContent.map((content) => (
                  <DocumentList
                    title={ content.title }
                    link={ content.url }
                    releaseDate={ content.releaseDate }
                    contentType={ content.contentType }
                    description={ content.description }
                  />
                ))}
              </div>
            </section>
          )}

          { versionHistory && (
            <section class="version-history" id="version-history">
              <h2 class="section-title">Version history</h2>

              <table>
                <thead>
                  <tr>
                    <th>Version</th>
                    <th>Release date</th>
                    <th>Reason for update</th>
                  </tr>
                </thead>

                <tbody>
                  { versionHistory.map((version) => (
                    <tr>
                      <td><a href="#">{ version.version }</a></td>
                      <td><a href="#">{ version.releaseDate }</a></td>
                      <td>{ version.releaseNotes }</td>
                    </tr>
                  ))}
                </tbody>
              </table>
            </section>
          )}

          <ContactDetails
            team={ contactDetails.name }
            email={ contactDetails.email }
            telephone={ contactDetails.telephoneNumber }
          />

        </div>

      </div>
    </div>
  </main>

</BaseLayout>

<style>
  main {
    margin: 64px 0 80px 0;
  }

  .layout {
    display: grid;
    gap: var(--layout-gutter);
    grid-template-columns: 1fr 2fr;
    margin-top: var(--spacing-content-subsection-gap);
  }

  .metadata-list {
    display: grid;
    gap: var(--spacing-2xs) var(--spacing-lg);
    grid-template-columns: max-content 1fr;
  }

  .metadata-list dt {
    font-weight: 700;
  }

  .edition-metadata {
    padding-bottom: var(--spacing-content-subsection-gap);
    border-bottom: 1px solid var(--color-border-primary);
  }

  .file-download-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .related-content-list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
  }

  p {
    max-width: var(--layout-text-width);
  }

  .page-content {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
</style>