---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageBanner from "../components/PageBanner.astro";
import TableOfContents from "../components/TableOfContents.astro";

const { caption, title, description, metadata, headings = [] } = Astro.props;

const sections = headings.filter(h => h.depth === 2);
---

<BaseLayout>
  <PageBanner
    type="page"
    caption={ caption }
    title={ title }
    description={ description }
    metadata={ metadata }>
  </PageBanner>

  <main>
    <div class="container">
      <div class="layout">

        <aside class="table-of-contents">
          <TableOfContents sections={ sections } />
        </aside>

        <div class="page-content">
          <slot />
        </div>

      </div>
    </div>
  </main>

</BaseLayout>

<style>
  main {
    margin: 64px 0 80px 0;
  }

  .layout {
    display: grid;
    gap: var(--layout-gutter);
    grid-template-columns: 1fr 2fr;
  }
</style>