---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageBanner from "../components/PageBanner.astro";
import TableOfContents from "../components/TableOfContents.astro";

const { title, description } = Astro.props;
---

<BaseLayout>
  <PageBanner
    type="topic"
    caption="Topic"
    title={ title }
    description={ description }>
  </PageBanner>

  <main>
    <div class="container">
      <div class="layout">

        <aside class="table-of-contents">
          <TableOfContents content="" />
        </aside>

        <div class="page-content">
          <slot />
        </div>

      </div>
    </div>
  </main>

</BaseLayout>

<style>
  main {
    margin: 40px 0 80px 0;
  }

  .layout {
    display: grid;
    gap: var(--layout-gutter);
    grid-template-columns: 1fr 2fr;
  }
</style>